.footerBox {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.footerAvatar {
    width: 2.5rem;
    margin-left: 1rem;
}

.author {
    display: flex;
    align-items: center;
    gap: .8rem;    
}

.authorText {
    color: #02B8AC;
    font-size: .84rem;
}

.btnFlip {
    opacity: 1;
	outline: 0;
	color: #02B8AC;
	line-height: 25px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
    font-weight: 800;
}


.btnFlip:hover::after {
    opacity: 1;
	transform: translateY(0) rotateX(0);
}

.btnFlip:hover::before {
    opacity: 0;
	transform: translateY(50%) rotateX(90deg);
}



.btnFlip::after {
    top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		color: #323237;
		display: block;
		transition: 0.5s;
		position: absolute;
		background: #adadaf;
		content: attr(data-back);
		transform: translateY(-50%) rotateX(90deg);
        font-size: .6rem;
}

.btnFlip::before {
    top: 0;
		left: 0;
		opacity: 1;
		color: hsl(216, 12%, 8%);
		display: block;
		padding: 0 0;
		line-height: 25px;
		transition: 0.5s;
		position: relative;
		background: #FEEBBF;
		content: attr(data-front);
		transform: translateY(0) rotateX(0);
        font-size: .6rem;
}
    
	
	
	

